# Ejercicio 2
 
Utiliza Apache Spark y un conjunto de datos público de vuelos, como el conjunto de datos de vuelos de 2015 proporcionado por la Oficina de Estadísticas de Transporte de EE. UU., para realizar las siguientes tareas: 
 
a)  Descarga los datos de vuelos en formato CSV desde la URL pública. 

b)  Carga los datos en un DataFrame de Spark. 

c)  Calcula la cantidad promedio de retrasos en la llegada de vuelos en un aeropuerto específico. 

d)  Encuentra las 10 rutas de vuelo más populares (pares de aeropuertos) en términos de la cantidad de vuelos.

## Importar Librerias

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, StringType, FloatType
from pyspark.sql.functions import avg, count, expr
import pandas as pd
from pyspark.sql.functions import col

## Crear la sesion

In [0]:
spark = SparkSession.builder \
    .master("local") \
    .appName("Ejercicio 3") \
    .getOrCreate()

## Cargar los datos a un dataframe

In [0]:
# Funcion para detectar la moda en una lista
def find_mode_manual(data_list):
    if not data_list:
        return None

    counts = {}
    for item in data_list:
        counts[item] = counts.get(item, 0) + 1

    max_count = 0
    mode_value = None

    for item, count in counts.items():
        if count > max_count:
            max_count = count
            mode_value = item
        elif count == max_count and mode_value is not None:
            mode_value = None
    
    if max_count == 1:
      return None

    return mode_value

In [0]:
# Funcion para detectar el delimitador 
def detect_which_delimiter(file_path, sample_lines=5):
    try:
        file_content = dbutils.fs.head(file_path)
    except Exception as e:
        print(f"Error reading file: {e}")
        return None
    
    lines = file_content.split('\n')
    if not lines:
        return None
    
    delimiters = [',', '\t', ';', '|', ' ']
    delimiter_counts = {delim: [] for delim in delimiters}
    
    for line in lines:
        if not line.strip():
            continue
        for delim in delimiters:
            delimiter_counts[delim].append(line.count(delim))
    
    detected_delimiter = None
    max_val = 0
    for delim in delimiters:
        val = find_mode_manual(delimiter_counts[delim])
        if max_val < val:
            max_val = val
            detected_delimiter = delim

    return detected_delimiter

In [0]:
# No hice esto porque no se podian leer ciertos archivos dado que tenían diferente delimitador
# df = spark.read\
#   .option("delimiter", ",")\
#   .csv("/FileStore/DataEjercicio2", inferSchema=True, header=True)
# df.show()
# Tambien no defini un esquema porque habian muchas columnas y a pesar que la mejor practica es hacerlo y podia definirlo, la verdad para este ejercicio no lo vi necesario dado que no es la vida real así que solo hice un infer schema
path = "/FileStore/DataEjercicio2"
dfs = []
for csv in dbutils.fs.ls(path):
    csv_path = csv.path.split(":")[1]
    delimiter = detect_which_delimiter(csv_path)
    df = spark.read\
        .option("delimiter", delimiter)\
        .csv(csv_path, inferSchema=True, header=True)
    dfs.append(df)

[Truncated to first 65536 bytes]
[Truncated to first 65536 bytes]
[Truncated to first 65536 bytes]
[Truncated to first 65536 bytes]
[Truncated to first 65536 bytes]
[Truncated to first 65536 bytes]
[Truncated to first 65536 bytes]
[Truncated to first 65536 bytes]
[Truncated to first 65536 bytes]
[Truncated to first 65536 bytes]
[Truncated to first 65536 bytes]
[Truncated to first 65536 bytes]

In [0]:
result_df = None
for df in dfs:
    if result_df == None:
        result_df = df
    else:
        result_df = result_df.union(df)
result_df.show()

+----+-------+-----+------------+-----------+--------------------+-----------------+---------------------+----------+--------+-----------------+-----------------+---------------------+---------------------+------+--------------------+----------------+-----------------+---------------+----------+---------------+-------------------+-------------------+----+--------------------+--------------+---------------+-------------+--------+------------+--------+---------+-------------+---------+---------------+------------+--------+---------+-------+------------+--------+---------+-------------+---------+---------------+------------+---------+-----------------+--------+----------------+-------------------+--------+-------+--------+--------------+-------------+-------------+---------+--------------+-------------------+--------------+---------------+-----------------+--------------------+----------------+-----------------------+-------------+------------+------------+---------------+-------------------+--------------+----------------+------------------+---------------+-------------+------------+---------------+-------------------+--------------+----------------+------------------+---------------+-------------+------------+---------------+-------------------+--------------+----------------+------------------+---------------+-------------+------------+---------------+-------------------+--------------+----------------+------------------+---------------+-------------+------------+---------------+-------------------+--------------+----------------+------------------+---------------+-------------+
|YEAR|QUARTER|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|             FL_DATE|OP_UNIQUE_CARRIER|OP_CARRIER_AIRLINE_ID|OP_CARRIER|TAIL_NUM|OP_CARRIER_FL_NUM|ORIGIN_AIRPORT_ID|ORIGIN_AIRPORT_SEQ_ID|ORIGIN_CITY_MARKET_ID|ORIGIN|    ORIGIN_CITY_NAME|ORIGIN_STATE_ABR|ORIGIN_STATE_FIPS|ORIGIN_STATE_NM|ORIGIN_WAC|DEST_AIRPORT_ID|DEST_AIRPORT_SEQ_ID|DEST_CITY_MARKET_ID|DEST|      DEST_CITY_NAME|DEST_STATE_ABR|DEST_STATE_FIPS|DEST_STATE_NM|DEST_WAC|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|DEP_DELAY_NEW|DEP_DEL15|DEP_DELAY_GROUP|DEP_TIME_BLK|TAXI_OUT|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|ARR_DELAY_NEW|ARR_DEL15|ARR_DELAY_GROUP|ARR_TIME_BLK|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|FLIGHTS|DISTANCE|DISTANCE_GROUP|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|FIRST_DEP_TIME|TOTAL_ADD_GTIME|LONGEST_ADD_GTIME|DIV_AIRPORT_LANDINGS|DIV_REACHED_DEST|DIV_ACTUAL_ELAPSED_TIME|DIV_ARR_DELAY|DIV_DISTANCE|DIV1_AIRPORT|DIV1_AIRPORT_ID|DIV1_AIRPORT_SEQ_ID|DIV1_WHEELS_ON|DIV1_TOTAL_GTIME|DIV1_LONGEST_GTIME|DIV1_WHEELS_OFF|DIV1_TAIL_NUM|DIV2_AIRPORT|DIV2_AIRPORT_ID|DIV2_AIRPORT_SEQ_ID|DIV2_WHEELS_ON|DIV2_TOTAL_GTIME|DIV2_LONGEST_GTIME|DIV2_WHEELS_OFF|DIV2_TAIL_NUM|DIV3_AIRPORT|DIV3_AIRPORT_ID|DIV3_AIRPORT_SEQ_ID|DIV3_WHEELS_ON|DIV3_TOTAL_GTIME|DIV3_LONGEST_GTIME|DIV3_WHEELS_OFF|DIV3_TAIL_NUM|DIV4_AIRPORT|DIV4_AIRPORT_ID|DIV4_AIRPORT_SEQ_ID|DIV4_WHEELS_ON|DIV4_TOTAL_GTIME|DIV4_LONGEST_GTIME|DIV4_WHEELS_OFF|DIV4_TAIL_NUM|DIV5_AIRPORT|DIV5_AIRPORT_ID|DIV5_AIRPORT_SEQ_ID|DIV5_WHEELS_ON|DIV5_TOTAL_GTIME|DIV5_LONGEST_GTIME|DIV5_WHEELS_OFF|DIV5_TAIL_NUM|
+----+-------+-----+------------+-----------+--------------------+-----------------+---------------------+----------+--------+-----------------+-----------------+---------------------+---------------------+------+--------------------+----------------+-----------------+---------------+----------+---------------+-------------------+-------------------+----+--------------------+--------------+---------------+-------------+--------+------------+--------+---------+-------------+---------+---------------+------------+--------+---------+-------+------------+--------+---------+-------------+---------+---------------+------------+---------+-----------------+--------+----------------+-------------------+--------+-------+--------+--------------+-------------+-------------+---------+--------------+-------------------+--------------+---------------+-----------------+--------------------+----------------+-----------------------+-------------+------------+------------+---------------+-------------------+--------------+----------------+------------------+---------------+-------------+------------+---------------+-------------------+--------------+----------------+------------------+---------------+-------------+------------+---------------+-------------------+--------------+----------------+------------------+---------------+-------------+------------+---------------+-------------------+--------------+----------------+------------------+---------------+-------------+------------+---------------+-------------------+--------------+----------------+------------------+---------------+-------------+
|2015|      2|    4|           1|          3|4/1/2015 12:00:00 AM|               AA|                19805|        AA|  N001AA|              142|            11298|              1129804|                30194|   DFW|Dallas/Fort Worth...|              TX|               48|          Texas|        74|          12896|            1289605|              32896| LBB|         Lubbock, TX|            TX|             48|        Texas|      74|        1850|    1901|     11.0|         11.0|      0.0|              0|   1800-1859|    17.0|     2007|    4.0|        2009|    2011|      2.0|          2.0|      0.0|              0|   2000-2059|      0.0|             null|     0.0|            79.0|               70.0|    49.0|    1.0|   282.0|             2|         null|         null|     null|          null|               null|          null|           null|             null|                   0|            null|                   null|         null|        null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|
|2015|      2|    4|           1|          3|4/1/2015 12:00:00 AM|               AA|                19805|        AA|  N001AA|              356|            10397|              1039705|                30397|   ATL|         Atlanta, GA|              GA|               13|        Georgia|        34|          11298|            1129804|              30194| DFW|Dallas/Fort Worth...|            TX|             48|        Texas|      74|        1559|    1635|     36.0|         36.0|      1.0|              2|   1500-1559|    14.0|     1753|   10.0|        1727|    1803|     36.0|         36.0|      1.0|              2|   1700-1759|      0.0|             null|     0.0|           148.0|              148.0|   124.0|    1.0|   731.0|             3|          2.0|          0.0|      0.0|           0.0|               34.0|          null|           null|             null|                   0|            null|                   null|         null|        null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|
|2015|      2|    4|           1|          3|4/1/2015 12:00:00 AM|               AA|                19805|        AA|  N001AA|              356|            11298|              1129804|                30194|   DFW|Dallas/Fort Worth...|              TX|               48|          Texas|        74|          10397|            1039705|              30397| ATL|         Atlanta, GA|            GA|             13|      Georgia|      34|        1154|    1249|     55.0|         55.0|      1.0|              3|   1100-1159|    11.0|     1537|   16.0|        1508|    1553|     45.0|         45.0|      1.0|              3|   1500-1559|      0.0|             null|     0.0|           134.0|              124.0|    97.0|    1.0|   731.0|             3|         45.0|          0.0|      0.0|           0.0|                0.0|          null|           null|             null|                   0|            null|                   null|         null|        null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|
|2015|      2|    4|           1|          3|4/1/2015 12:00:00 AM|               AA|                19805|        AA|  N002AA|             1161|            13303|              1330303|                32467|   MIA|           Miami, FL|              FL|               12|        Florida|        33|          15304|            1530402|              33195| TPA|           Tampa, FL|            FL|             12|      Florida|      33|        1010|    1010|      0.0|          0.0|      0.0|              0|   1000-1059|    18.0|     1105|    4.0|        1120|    1109|    -11.0|          0.0|      0.0|             -1|   1100-1159|      0.0|             null|     0.0|            70.0|               59.0|    37.0|    1.0|   204.0|             1|         null|         null|     null|          null|               null|          null|           null|             null|                   0|            null|                   null|         null|        null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|
|2015|      2|    4|           1|          3|4/1/2015 12:00:00 AM|               AA|                19805|        AA|  N002AA|             1161|            15304|              1530402|                33195|   TPA|           Tampa, FL|              FL|               12|        Florida|        33|          13303|            1330303|              32467| MIA|           Miami, FL|            FL|             12|      Florida|      33|        1210|    1206|     -4.0|          0.0|      0.0|             -1|   1200-1259|    11.0|     1255|    6.0|        1312|    1301|    -11.0|          0.0|      0.0|             -1|   1300-1359|      0.0|             null|     0.0|            62.0|               55.0|    38.0|    1.0|   204.0|             1|         null|         null|     null|          null|               null|          null|           null|             null|                   0|            null|                   null|         null|        null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|
|2015|      2|    4|           1|          3|4/1/2015 12:00:00 AM|               AA|                19805|        AA|  N002AA|               17|            10397|              1039705|                30397|   ATL|         Atlanta, GA|              GA|               13|        Georgia|        34|          13303|            1330303|              32467| MIA|           Miami, FL|            FL|             12|      Florida|      33|         705|     705|      0.0|          0.0|      0.0|              0|   0700-0759|    14.0|      848|    8.0|         858|     856|     -2.0|          0.0|      0.0|             -1|   0800-0859|      0.0|             null|     0.0|           113.0|              111.0|    89.0|    1.0|   594.0|             3|         null|         null|     null|          null|               null|          null|           null|             null|                   0|            null|                   null|         null|        null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|
|2015|      2|    4|           1|          3|4/1/2015 12:00:00 AM|               AA|                19805|        AA|  N002AA|             2321|            13303|              1330303|                32467|   MIA|           Miami, FL|              FL|               12|        Florida|        33|          15016|            1501603|              31123| STL|       St. Louis, MO|            MO|             29|     Missouri|      64|        1820|    1827|      7.0|          7.0|      0.0|              0|   1800-1859|    13.0|     2012|    4.0|        2014|    2016|      2.0|          2.0|      0.0|              0|   2000-2059|      0.0|             null|     0.0|           174.0|              169.0|   152.0|    1.0|  1068.0|             5|         null|         null|     null|          null|               null|          null|           null|             null|                   0|            null|                   null|         null|        null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|
|2015|      2|    4|           1|          3|4/1/2015 12:00:00 AM|               AA|                19805|        AA|  N005AA|             1480|            11298|              1129804|                30194|   DFW|Dallas/Fort Worth...|              TX|               48|          Texas|        74|          13198|            1319801|              33198| MCI|     Kansas City, MO|            MO|             29|     Missouri|      64|        1330|    1355|     25.0|         25.0|      1.0|              1|   1300-1359|    17.0|     1520|    6.0|        1506|    1526|     20.0|         20.0|      1.0|              1|   1500-1559|      0.0|             null|     0.0|            96.0|               91.0|    68.0|    1.0|   460.0|             2|          2.0|          0.0|      0.0|           0.0|               18.0|          null|           null|             null|                   0|            null|                   null|         null|        null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|
|2015|      2|    4|           1|          3|4/1/2015 12:00:00 AM|               AA|                19805|        AA|  N005AA|             1480|            13198|              1319801|                33198|   MCI|     Kansas City, MO|              MO|               29|       Missouri|        64|          11298|            1129804|              30194| DFW|Dallas/Fort Worth...|            TX|             48|        Texas|      74|        1550|    1823|    153.0|        153.0|      1.0|             10|   1500-1559|    13.0|     1957|    5.0|        1734|    2002|    148.0|        148.0|      1.0|              9|   1700-1759|      0.0|             null|     0.0|           104.0|               99.0|    81.0|    1.0|   460.0|             2|        133.0|          0.0|      0.0|           0.0|               15.0|          null|           null|             null|                   0|            null|                   null|         null|        null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|        null|           null|               null|          null|            null|              null|           null|         null|

## Calcula la cantidad promedio de retrasos en la llegada de vuelos en un aeropuerto específico.

In [0]:
result_df.where(result_df["DEST"] == "IDA")\
  .agg({"DEP_DELAY": "avg"})\
  .show()
  # Calcular para el aeropuerto de IDA

+-----------------+
|   avg(DEP_DELAY)|
+-----------------+
|3.659408381265407|
+-----------------+

In [0]:
result_df.groupBy("DEST")\
  .agg({"DEP_DELAY": "avg"})\
  .show()

+----+------------------+
|DEST|    avg(DEP_DELAY)|
+----+------------------+
| PSE|14.323383084577115|
| INL| 2.104669887278583|
| MSY| 9.757205945201576|
| PPG| 9.224137931034482|
| GEG| 7.821969696969697|
| SNA| 6.697584038813803|
| BUR| 7.452513143025598|
| GRB|  7.81866870696251|
| GTF|3.3939252336448598|
| IDA| 3.659408381265407|
| GRR|10.024398714943128|
| JLN|12.614285714285714|
| PSG| 6.455431754874652|
| EUG| 8.596414852752881|
| PVD|10.452219145901502|
| GSO|10.363520947947524|
| MYR| 9.561557549150601|
| OAK| 9.917056841552531|
| MSN| 8.044538160872248|
| FAR| 8.993307215148548|
+----+------------------+
only showing top 20 rows

## Encuentra las 10 rutas de vuelo más populares (pares de aeropuertos) en términos de la cantidad de vuelos.

In [0]:
result_df.groupBy("ORIGIN", "DEST")\
  .agg(count(expr("*")).alias("cantidad_de_vuelos"))\
  .sort("cantidad_de_vuelos",ascending=[False])\
  .limit(10)\
  .show()

+------+----+------------------+
|ORIGIN|DEST|cantidad_de_vuelos|
+------+----+------------------+
|   SFO| LAX|             15116|
|   LAX| SFO|             14799|
|   JFK| LAX|             13113|
|   LAX| JFK|             13106|
|   LAS| LAX|             10657|
|   LGA| ORD|             10560|
|   LAX| LAS|             10539|
|   ORD| LGA|             10492|
|   JFK| SFO|              9280|
|   SFO| JFK|              9279|
+------+----+------------------+

In [0]:
result_df.groupBy("ORIGIN", "DEST")\
  .agg(count(expr("1")).alias("cantidad_de_vuelos"))\
  .sort("cantidad_de_vuelos",ascending=[False])\
  .limit(10)\
  .show()

+------+----+------------------+
|ORIGIN|DEST|cantidad_de_vuelos|
+------+----+------------------+
|   SFO| LAX|             15116|
|   LAX| SFO|             14799|
|   JFK| LAX|             13113|
|   LAX| JFK|             13106|
|   LAS| LAX|             10657|
|   LGA| ORD|             10560|
|   LAX| LAS|             10539|
|   ORD| LGA|             10492|
|   JFK| SFO|              9280|
|   SFO| JFK|              9279|
+------+----+------------------+